:80 {
    encode gzip zstd

    redir /lego /lego/

    handle /lego/api/* {
        uri strip_prefix /lego
        reverse_proxy lego-api:8000
    }

    handle /lego/docs* {
        uri strip_prefix /lego
        reverse_proxy lego-api:8000
    }

    handle /lego/openapi.json {
        uri strip_prefix /lego
        reverse_proxy lego-api:8000
    }

    handle /lego/health {
        uri strip_prefix /lego
        reverse_proxy lego-api:8000
    }

    handle_path /lego/* {
        reverse_proxy lego-frontend:80
    }
}
